html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
/* header  */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 2rem;
    padding: 0;
}
.title-description {
    margin-top: 0;
    font-size: 1.25rem;
}
/* main */
main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Form */
#form {
    display: flex;
    flex-direction: column;
}
#message {
    width: 50vw;
    border: 2px solid black;
    border-radius: 0.5rem;
}
#submit-button {
    border: 2px solid green;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}