html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
/* Body */
body {
    background-image: url("./images/sigmund-L8mclmMuWjg-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}
/* header  */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 2rem;
    padding: 0;
    text-shadow: 0 0 8px #fff;
    width: 100vw;
    text-align: center;
}
.title-description {
    margin-top: 0;
    font-size: 1.25rem;
    text-shadow: 0 0 10px #fff;
    text-align: center;
}
/* main */
main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Form */
#form {
    display: flex;
    flex-direction: column;
}
#message {
    width: 50vw;
    border: 2px solid black;
    border-radius: 0.5rem;
}
#submit-button {
    border: 2px solid green;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
#message-label {
    text-shadow: 0 0 8px #fff;
}

/* options container */
.options-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    height: 18.75rem; /*300px*/
    width: 18.75rem; /*300px*/
    border-radius: 50%;
}
#options-text {
    background-color: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Table styling */
.results-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.table-row-heading {
    font-size: 2rem;
    color: white;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
    /* body {
        padding-bottom: 10rem;
    } */
    
    .title-description {
        background-color: rgba(255,255,255,0.8);
        font-size: 1.5rem;
    }
    #message-label {
        background-color: rgba(255,255,255,0.8);
        text-align: center;
        margin-bottom: 1rem;
        border-radius: 1rem;
        font-size: 2rem;
    }
    #message {
        width: 80vw;
        height: 5vh;
    }
    #submit-button {
        height: 5vh;
        width: 60vw;
        align-self: center;
        margin-top: 1rem;
    }
    /* 8Ball styling */
    .options-container {
        height: 150px;
        width: 150px;
    }
    #options-text {
        height: 75px;
        width: 75px;
    }
    /* Table styling */
    table, td {
        border: 1px solid white;
        border-collapse: collapse;
    }
    table {
        width: 80vw;
    }
    .table-heading {
        font-weight: bold;
    }
    .results-table-container {
        margin-top: 1rem;
        text-align: center;
    }
    .table-row-data {
        color: white;
    }

}
